{% extends 'base_nav.html' %}
{% load static %}

{% block head %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/> {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/confirm_delete.css' %}"/>
{% endblock head %}

{% block content %}

<div class='poem poem-add poem-remove'>
  <a 
    href="{% url 'user_index' %}" 
  >
    Cancel
  </a>
  <div class="page-header">
    <h1>Remove Poem?</h1>
  </div>
  <div>
    <form action="" method="POST" class="form">
      {% csrf_token %}
      <button type="submit">Remove</button>
    </form>
  </div>

</div>

{% endblock %}