{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
{% endblock head %}

{% block content %}

<div class="page-header">
  <h1>Remove Poem?</h1>
</div>
<h2>Are you sure you want to delete {{ object.name }}?</h2>

<form action="" method="POST" class="form">
  {% csrf_token %}
  <a 
    href="{% url 'user_index' %}" 
  >
    Cancel
  </a>
  <button type="submit">Remove</button>
</form>

{% endblock %}