{% extends 'base_nav.html' %}
{% load static %}

{% block head %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/> {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
<script src="https://kit.fontawesome.com/9871a62a24.js" crossorigin="anonymous"></script>
{% endblock head %}
{% block content %}
  <div class='poem'>
    <div>
      <h2>{{poem.title}}</h2>
      <h3>{{poem.author}}</h3>
      <p>{{poem.lines|linebreaksbr}}</p>
    </div>
  <div></div>
    <form action="{% url 'poems_add' %}" class="poemverse-poem" method="post">
    {% csrf_token %}
    <div class='bookmark-container'>
      <button type="submit" class="submit-form bookmark"><i class="fas fa-bookmark fa-3x"></i></button>
    </div>
    <textarea type='text' name='title' hidden>{{poem.title|linebreaksbr}}</textarea>
    <textarea type='text' name='author' hidden>{{poem.author|linebreaksbr}}</textarea>
    <textarea type='text' name='lines' hidden>{{poem.lines|linebreaksbr}}</textarea>
    </form>
  </div>
  <div class='buttons'>
    <div></div>
    <a href="{% url 'poems_index' %}" class="submit-form"><i class="fas fa-redo-alt fa-3x"></i></a>
    <div></div>
  </div>
{% endblock content %}