{% extends 'base_nav.html' %}
{% load static %}

{% block head %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/> {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
{% endblock head %}
{% block content %}
  <div class='poem'>
    <h2>{{poem.title}}</h2>
    <h3>{{poem.author}}</h3>
    <p>{{poem.lines|linebreaksbr}}</p>
  </div>
  <form action="{% url 'poems_add' %}" method="post">
    {% csrf_token %}
    <textarea type='text' name='title' hidden>{{poem.title|linebreaksbr}}</textarea>
    <textarea type='text' name='author' hidden>{{poem.author|linebreaksbr}}</textarea>
    <textarea type='text' name='lines' hidden>{{poem.lines|linebreaksbr}}</textarea>
    <button type="submit" class="submit-form">*</button>
  </form>
  <br>
  <br>
  <a href="{% url 'poems_index' %}"><button>Refresh</button></a>
{% endblock content %}