{% extends 'base_nav.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
<script defer src="{% static 'js/cards.js' %}"></script>
<script src="https://kit.fontawesome.com/9871a62a24.js" crossorigin="anonymous"></script>
{% endblock head %}
{% block content %}

{% for poem in poems %}
  <div class="poem">
    <div>
      <h2>{{poem.title}}</h2>
      <h3>{{poem.author}}</h3>
      <div class='poem-text' id="{{poem.title}}" hidden>
      <p>{{poem.lines|linebreaksbr}}</p>
    </div>
    <button id="{{poem.title}}-btn" class='show-button submit-form bookmark' onclick="hidePoem('{{poem.title}}')"><i class="fas fa-ellipsis-h"></i></button>
  </div>
  <div>
      <a href="{% url 'poems_delete' poem.id %}"><button type="submit" class="submit-form bookmark"><i class="fas fa-bookmark fa-2x"></i></button></a>
  </div>
  </div>
{% endfor %}

{% endblock content %}