{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Poemverse</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
  {% block head %}
  {% endblock %}
</head>
<body>
  <nav>
    <h3>Poemverse</h3>
    <ul class='nav-ul'>
      <li><a class='nav-link' href="{% url 'poems_index' %}">Poem</a></li>
      {% comment %} <li><a class='nav-link' href="{% url 'poems_index' %}">Fake Extra</a></li> {% endcomment %}
    </ul>
  </nav>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
</body>
</html>