{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Poemverse</title>
  <link rel="shortcut icon" href="{% static 'images/bookmark-favicon.svg' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
  <script src="https://kit.fontawesome.com/9871a62a24.js" crossorigin="anonymous"></script>
  <script defer src="{% static 'js/cards.js' %}"></script>
  {% block head %}
  {% endblock %}
</head>
<body>
  <nav>
    <div class='mobile-nav'>
      <a class='nav-link' href="{% url 'poems_index' %}"><h3 class='logo'>Poemverse</h3></a>
      <button class='show-button hamburger'><i class="fas fa-bars fa-2x hamburger-button"></i></button>
    </div>
    <ul class='nav-ul widescreen-nav'>
      <li><a class='nav-link' href="{% url 'poems_create' %}">Add a Poem</a></li>
      <li><a class='nav-link' href="{% url 'user_index' %}">My Verse</a></li>
      <li><a class='nav-link' href="{% url 'logout' %}">Log out</a></li>
    </ul>
  <div class='hidden-nav' hidden>
    <ul class='nav-ul'>
      <li><a class='nav-link small-nav' href="{% url 'poems_create' %}">Add a Poem</a></li>
      <li><a class='nav-link small-nav' href="{% url 'user_index' %}">My Verse</a></li>
      <li><a class='nav-link small-nav' href="{% url 'logout' %}">Log out</a></li>
    </ul>
  </div>
  </nav>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
</body>
</html>