{% extends 'base.html' %}
{% load static %}

{% block title %}
  Poemverse
{% endblock title %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock head %}
{% block content %}
  <h1>Welcome to the Poemverse</h1>
  <p>"Every single soul is a poem."<br>
    Michael Franti</p>
{% comment %} {% if not user.is_authenticated %} {% endcomment %}
  <section>
    <form action="{% url 'home' %}" method='post' class='login' %>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name='next' value="{{ next }}">
    <button type="submit" name='submit' class='login-btn'>Login</button>
    </form>
  </section>
  <a class="signup-tag" href="{% url 'signup' %}"><button class='signup-btn'>Sign Up</button></a>
{% comment %} {% endif %} {% endcomment %}
{% endblock content %}