@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;600;900&display=swap');

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  width: 100%;
  font-family: 'Heebo', sans-serif;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
  padding: 10px;
  margin: 20px;
  /* position: fixed; */
  /* top: 0; */
  font-size: 20px;
}

.nav-ul {
  list-style-type: none;
  /* padding: 0px; */
  display: inline;
  list-style: none;
  padding-right: 20px;
}

.nav-ul li {
  float: left;
}

.nav-link:link {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.nav-link:visited {
  color: white;
}

.nav-link:hover {
  color: white;
}

.nav-link:active {
  color: white;
} 