@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;900&family=M+PLUS+2&family=Mukta:wght@300&family=Quicksand&family=Ubuntu&display=swap');

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/static/images/tree_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-shadow: 2px 2px 4px #000000;

}

main {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


h1 {
  font-size: 3em;
  text-align: center;
}

p {
  font-style: italic;
  font-size: 1.5em;
  text-align: center;
}

h1, p {
  font-weight: 100;
}

section {
  width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

button {
  border-radius: 25px;
  color: #F4F6F3;
  font-weight: bold;
  opacity: 90%;
}

.login-btn {
  font-size: 1em;
  width: 15vw;
  font-family: 'Quicksand', sans-serif;
  /* font-weight: 400; */
  height: 2.5em;
  background: #6B917E;
  font-weight: bold;
  border: 0;
  opacity: 100%;
}

.login-btn:hover {
  background-color: #272b2e;
}

.signup-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

.signup-btn {
  font-size: 1em;
  height: 2.5em;
  width: 15vw;
  font-family: 'Quicksand', sans-serif;
  background-color: #6B917E;
  font-weight: bold;
  border: 0;
  opacity: 100%;
}

.signup-btn:hover {
  background-color: #272b2e;
}


@media only screen and (max-width: 600px) {
  .login-btn {
    width: 40vw;
  }
  .signup-btn {
    width: 40vw;
  }

}